
.list{
color: black;
align-items: center;
justify-content: center;
display: flex;
}
.subs{
color: rgb(6, 105, 243);        
}
.container:hover{
    background-color: yellow;
    cursor: pointer;
}
.heads{
color:rgb(220, 20, 167);
text-align: center;
}
.con{
    background-color: bisque;    
    width:100%;
    height: 100%;
    text-align: center;
    color: blue;
    align-items: center;
}
.container{
    background-color: azure;
    border: 5px;
    border-color: brown;
    border-width: 3px;
    border-style: solid;
    height:100%;
    width: 100vh;
    margin:10px;
   transition: 2s;
}